
body, html {
    overflow: auto;
}

.main-layout {
    height: calc(100vh - 75px);
    display: flex;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
}

.map-container {
    flex: 1;
    max-width: 48%;
    height: 100%;
    padding: 0;

    background-color: transparent;
    border: none;
    box-shadow: none;
    overflow: visible;
    min-width: 100px;
}

.content-container {
    flex: 1;
    height: 100%;
    padding: 0;

    background-color: transparent;
    box-shadow: none;

    overflow-y: visible;
    min-width: 500px;
}


#map-page, #list-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#map-content {
    flex-grow: 1;
    min-height: 0;
}

#map {
    width: 100%;
    height: 100%;
    border: 3px solid #00BFFF;
    border-radius: 8px;
    box-sizing: border-box;
}

#spot-list-container {
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
}
#keyword-search-btn {
    cursor: pointer;
}