<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OUIGO</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/recruit.css}">
    <link rel="stylesheet" th:href="@{/css/touristDetail.css}">
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=477a1cea9ecc7c2b3e69f3540a3986b4&libraries=services"></script>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="main-layout">
    <div class="map-container">
        <div id="map"></div>
    </div>

    <div class="content-container">
        <div th:replace="tourist/touristDetail :: touristContent"></div>
    </div>
</div>

<script th:src="@{/js/map.js}"></script>
<script th:src="@{/js/touristDetail.js}"></script>
</body>
</html>